<% if (message != false) { %>
    <h2><%= message %></h2>
<% } %>
<form action="/" method="POST">
    Name: <input type="text" name="name"><br>
    Email: <input type="email" name="email"><br>
    Password: <input type="password" name="password"><br>
    Confirm Password: <input type="password" name="cPassword"><br>
    <input type="submit" value="Submit">
</form>
